/* Copyright By Lotus Biswas */

* {
    margin: 0;
    padding: 0;
}

/*  Scroll bar modify */


::-webkit-scrollbar {
    width: 6px;

    
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background-color:  rgb(238, 139, 122);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background-color:  rgb(218, 153, 142);
  }
  /*     */
.site-wrapper {
    width: 100%;
    height: 700px;
    padding: 50px 0;
    background-image: url('images/photo-6.png');
}

.site-wrapper .container {
    width: 70%;
    margin: auto;
    color: blanchedalmond;
    padding: 100px 0 0 0;
}

.site-wrapper .container .upper-section {
    padding-bottom: 80px;
    text-align: center;
}

.site-wrapper .container .upper-section h1 {
    font-size: 160px;
    padding-bottom: 10px;
}

@media only screen and (max-width: 900px) {
    .site-wrapper .container .upper-section h1 {
        font-size: 100px;
    }
}

@media only screen and (max-width: 720px) {
    .site-wrapper .container .upper-section h1 {
        font-size: 80px;
    }
}

@media only screen and (max-width: 430px) {
    .site-wrapper .container .upper-section h1 {
        font-size: 60px;
    }
}

@media only screen and (max-width: 360px) {
    .site-wrapper .container .upper-section h1 {
        font-size: 50px;
    }
}

.site-wrapper .container .upper-section p {
    font-size: 48px;
}

@media only screen and (max-width: 900px) {
    .site-wrapper .container .upper-section p{
        font-size: 36px;
    }
}

@media only screen and (max-width: 720px) {
    .site-wrapper .container .upper-section p {
        font-size: 24px;
    }
}


.site-wrapper .container .lower-section {
    font-size: 14px;
    color: #bbbbbb;
    margin: 5px 0;
    font-family: 'Lato', sans-serif;
}

.site-wrapper .container .lower-section .lower-section-f-text {
    text-align: left;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 100;
    letter-spacing: 0.3px;
    margin: 5px auto;
    line-height: 1.5;
}

.site-wrapper .container .lower-section .lower-section-f-text {
    text-align: left;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 100;
    letter-spacing: 0.3px;
    margin: 5px auto;
    line-height: 1.5;
}


.site-wrapper .container .lower-section .lower-section-s-list {
    text-align: left;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 100;
    letter-spacing: 0.3px;
    margin: 15px auto;
    line-height: 1.5;
    list-style: none;
    float: left;
}
.site-wrapper .container .lower-section .lower-section-s-list a{
 text-decoration: none;
 color: #bbbbbb; 
}
.container-1{
    width: 100%;
    height: 700px;
    padding: 50px 0;    
    background: #ECD078;
}
.container-1 .container1-side-section{
    
    text-transform: uppercase;
    font-size: 16px;
    margin-top: 50px;
    margin-left: 100px;
    font-family: 'Roboto Condensed', sans-serif;
}
@media (max-width: 768px)
{
    .container-1 .container1-side-section {
    margin-left: 10%;
}
}
.container-1 .container1-inner-section{
    width: 50%;
    margin: auto;
    color: blanchedalmond;
    padding: 100px 0 0 0;
}
@media (max-width: 900px)
{
    .container-1 .container1-inner-section {
    width: 80%;
}
}

.container-1 .container1-inner-section .container1-upper-section{
    font-family: 'Lato', serif;
    line-height: 1.5;
    font-size: 16px;
    color: black;
}

.container-1 .container1-inner-section .container1-upper-section a{
    text-decoration: none;
    color: black;
}
.container-1 .container1-inner-section .container1-lower-section{
    margin-top: 30px;
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    line-height: 1.5;
    font-size: 18px;
}

.container-1 .container1-inner-section .container1-lower-section p{
   color: black;
}


.container-1 .container1-inner-section .container1-lower-section a{
    text-decoration: none;
}

/* Container 2 */

.container-2{
    width: 100%;
    height: 700px;
    padding: 50px 0;    
    background-image: url('images/photo-12.png');
    background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.container-2 .container2-side-section{
    
    text-transform: uppercase;
    font-size: 16px;
    margin-top: 50px;
    margin-left: 100px;
    font-family: 'Roboto Condensed', sans-serif;
}
@media (max-width: 768px)
{
    .container-2 .container2-side-section {
    margin-left: 10%;
}
}
.container-2 .container2-inner-section{
    width: 50%;
    margin: auto;
    color: blanchedalmond;
    padding: 100px 0 0 0;
}
@media (max-width: 900px)
{
    .container-2 .container2-inner-section {
    width: 80%;
}
}

.container-2 .container2-inner-section .container2-upper-section{
    font-family: 'Grenze Gotisch', cursive;
    line-height: 1.5;
    font-size: 16px;
    color: black;
}

.container-2 .container2-inner-section .container2-upper-section a{
    text-decoration: none;
    color: black;
}
.container-2 .container2-inner-section .container2-lower-section{
    margin-top: 30px;
    font-family: 'Dancing Script', cursive;
    font-weight: 300;
    line-height: 1.5;
    font-size: 18px;
}

.container-2 .container2-inner-section .container2-lower-section p{
   color: black;
}


.container-2 .container2-inner-section .container2-lower-section a{
    text-decoration: none;
}

/* Container 3 */


.container-3{
    width: 100%;
    height: 700px;
    padding: 50px 0;    
    background: #d7ec78;
}
.container-3 .container3-side-section{
    
    text-transform: uppercase;
    font-size: 16px;
    margin-top: 50px;
    margin-left: 100px;
    font-family: 'Roboto Condensed', sans-serif;
}
@media (max-width: 768px)
{
    .container-3 .container3-side-section {
    margin-left: 10%;
}
}
.container-3 .container3-inner-section{
    width: 50%;
    margin: auto;
    color: blanchedalmond;
    padding: 100px 0 0 0;
}
@media (max-width: 900px)
{
    .container-3 .container3-inner-section {
    width: 80%;
}
}

.container-3 .container3-inner-section .container3-upper-section{
    font-family: 'Lora', serif;
    line-height: 1.5;
    font-size: 16px;
    color: black;
}

.container-3 .container3-inner-section .container3-upper-section a{
    text-decoration: none;
    color: black;
}
.container-3 .container3-inner-section .container3-lower-section{
    margin-top: 30px;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 300;
    line-height: 1.5;
    font-size: 18px;
}

.container-3 .container3-inner-section .container3-lower-section p{
   color: black;
}


.container-3 .container3-inner-section .container3-lower-section a{
    text-decoration: none;
}


/* Container 4 */


.container-4{
    width: 100%;
    height: 700px;
    padding: 50px 0; 
     background-image: url('images/photo-10.png');
    background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.container-4 .container4-side-section{
    
    text-transform: uppercase;
    font-size: 16px;
    margin-top: 50px;
    margin-left: 100px;
    font-family: 'Roboto Condensed', sans-serif;
}
@media (max-width: 768px)
{
    .container-4 .container4-side-section {
    margin-left: 10%;
}
}
.container-4 .container4-inner-section{
    width: 50%;
    margin: auto;
    color: blanchedalmond;
    padding: 100px 0 0 0;
}
@media (max-width: 900px)
{
    .container-4 .container4-inner-section {
    width: 80%;
}
}

.container-4 .container4-inner-section .container4-upper-section{
    font-family: 'Noto Serif', serif;
    line-height: 1.5;
    font-size: 16px;
    color: black;
}

.container-4 .container4-inner-section .container4-upper-section a{
    text-decoration: none;
    color: black;
}
.container-4 .container4-inner-section .container4-lower-section{
    margin-top: 30px;
    font-family: 'Syne', sans-serif;
    font-weight: 300;
    line-height: 1.5;
    font-size: 18px;
}

.container-4 .container4-inner-section .container4-lower-section p{
   color: black;
}


.container-4 .container4-inner-section .container4-lower-section a{
    text-decoration: none;
}


/* Container 5 */


.container-5{
    width: 100%;
    height: 700px;
    padding: 50px 0;    
    background: #ec8578;
}
.container-5 .container5-side-section{
    
    text-transform: uppercase;
    font-size: 16px;
    margin-top: 50px;
    margin-left: 100px;
    font-family: 'Roboto Condensed', sans-serif;
}
@media (max-width: 768px)
{
    .container-5 .container5-side-section {
    margin-left: 10%;
}
}
.container-5 .container5-inner-section{
    width: 50%;
    margin: auto;
    color: blanchedalmond;
    padding: 100px 0 0 0;
}
@media (max-width: 900px)
{
    .container-5 .container5-inner-section {
    width: 80%;
}
}

.container-5 .container5-inner-section .container5-upper-section{
    font-family: 'Anton', sans-serif;
    line-height: 1.5;
    font-size: 16px;
    color: black;
}

.container-5 .container5-inner-section .container5-upper-section a{
    text-decoration: none;
    color: black;
}
.container-5 .container5-inner-section .container5-lower-section{
    margin-top: 30px;
    font-family: 'Inconsolata', monospace;
    font-weight: 300;
    line-height: 1.5;
    font-size: 18px;
}

.container-5 .container5-inner-section .container5-lower-section p{
   color: black;
}


.container-5 .container5-inner-section .container5-lower-section a{
    text-decoration: none;
}



/* Container 6 */


.container-6{
    width: 100%;
    height: 700px;
    padding: 50px 0; 
     background-image: url('images/photo-9.png');
    background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.container-6 .container6-side-section{
    
    text-transform: uppercase;
    font-size: 16px;
    margin-top: 50px;
    margin-left: 100px;
    font-family: 'Roboto Condensed', sans-serif;
}
@media (max-width: 768px)
{
    .container-6 .container6-side-section {
    margin-left: 10%;
}
}
.container-6 .container6-inner-section{
    width: 50%;
    margin: auto;
    color: blanchedalmond;
    padding: 100px 0 0 0;
}
@media (max-width: 900px)
{
    .container-6 .container6-inner-section {
    width: 80%;
}
}

.container-6 .container6-inner-section .container6-upper-section{
    font-family: 'Carter One', cursive;
    line-height: 1.5;
    font-size: 16px;
    color: black;
}

.container-6 .container6-inner-section .container6-upper-section a{
    text-decoration: none;
    color: black;
}
.container-6 .container6-inner-section .container6-lower-section{
    margin-top: 30px;
    font-family: 'Satisfy', cursive;
    font-weight: 300;
    line-height: 1.5;
    font-size: 18px;
}

.container-6 .container6-inner-section .container6-lower-section p{
   color: black;
}


.container-6 .container6-inner-section .container6-lower-section a{
    text-decoration: none;
}



/* Container 7  */


.container-7{
    width: 100%;
    height: 700px;
    padding: 50px 0;    
    background: #e478ec;
}
.container-7 .container7-side-section{
    
    text-transform: uppercase;
    font-size: 16px;
    margin-top: 50px;
    margin-left: 100px;
    font-family: 'Roboto Condensed', sans-serif;
}
@media (max-width: 768px)
{
    .container-7 .container7-side-section {
    margin-left: 10%;
}
}
.container-7 .container7-inner-section{
    width: 50%;
    margin: auto;
    color: blanchedalmond;
    padding: 100px 0 0 0;
}
@media (max-width: 900px)
{
    .container-7 .container7-inner-section {
    width: 80%;
}
}

.container-7 .container7-inner-section .container7-upper-section{
    font-family: 'Sonsie One', cursive;
    line-height: 1.5;
    font-size: 16px;
    color: black;
}

.container-7 .container7-inner-section .container7-upper-section a{
    text-decoration: none;
    color: black;
}
.container-7 .container7-inner-section .container7-lower-section{
    margin-top: 30px;
    font-family: 'Mako', sans-serif;
    font-weight: 300;
    line-height: 1.5;
    font-size: 18px;
}

.container-7 .container7-inner-section .container7-lower-section p{
   color: black;
}


.container-7 .container7-inner-section .container7-lower-section a{
    text-decoration: none;
}



/* Container 8 */


.container-8{
    width: 100%;
    height: 700px;
    padding: 50px 0; 
     background-image: url('images/photo-4.png');
    background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.container-8 .container8-side-section{
    
    text-transform: uppercase;
    font-size: 16px;
    margin-top: 50px;
    margin-left: 100px;
    font-family: 'Roboto Condensed', sans-serif;
}
@media (max-width: 768px)
{
    .container-8 .container8-side-section {
    margin-left: 10%;
}
}
.container-8 .container8-inner-section{
    width: 50%;
    margin: auto;
    color: blanchedalmond;
    padding: 100px 0 0 0;
}
@media (max-width: 900px)
{
    .container-8 .container8-inner-section {
    width: 80%;
}
}

.container-8 .container8-inner-section .container8-upper-section{
    font-family: 'Bilbo Swash Caps', cursive;
    line-height: 1.5;
    font-size: 16px;
    color: black;
}

.container-8 .container8-inner-section .container8-upper-section a{
    text-decoration: none;
    color: black;
}
.container-8 .container8-inner-section .container8-lower-section{
    margin-top: 30px;
 font-family: 'Metamorphous', cursive;
    font-weight: 300;
    line-height: 1.5;
    font-size: 18px;
}

.container-8 .container8-inner-section .container8-lower-section p{
   color: black;
}


.container-8 .container8-inner-section .container8-lower-section a{
    text-decoration: none;
}

